* {
  box-sizing: border-box;
}
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  color: #0baf94;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px #f90;
}
.sub-title {
  color: #f90;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 3px 3px #0baf94;
}
.sub-title,
.title {
  text-align: center;
}
.divider {
  border-bottom: 4px solid rgba(255, 41, 41, 0.555);
  height: 1px;
  margin: 20px auto;
  width: 50%;
}
.avatar-group {
  display: flex;
  justify-content: center;
  gap: 30px;
}
